/.idea
/.venv
/full_tesla.json
/full_tesla_video.mp4
/generated_audio
/generated_images
/mid_tesla.json
/mid_tesla_video.mp4
/test_tesla.json
/test_tesla_video.mp4
.env
.DS_Store
.vscode
.idea
.pytest_cache
/tests/tmp_*
/__pycache__
/thumbnails
/shorts
/generated_images
/generated_audio
/generated_videos
/generated_videos_audio
/generated_videos_images
/generated_videos_videos
/generated_videos_videos_audio
/generated_videos_videos_images
*.mp4
*.json
*.md
*.pyc
*.png
/environment_audio
/fixed_images
/biopic_music